<link rel="icon" href="{{ partial "url.html" "/favicon.ico" }}" sizes="any">
<link rel="icon" type="image/png" sizes="32x32" href="{{ partial "url.html" "/favicon-32x32.png" }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ partial "url.html" "/favicon-16x16.png" }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ partial "url.html" "/apple-touch-icon.png" }}">
<link rel="manifest" href="{{ partial "url.html" "/site.webmanifest" }}">
<meta name="theme-color" content="#0b0c0e">
